:global .cursor_pointer {
  cursor: pointer !important;
}
:global .relative {
  position: relative !important;
}
:global .absolute {
  position: absolute !important;
}
:global .inline {
  display: inline-block !important;
}
:global .block {
  display: block !important;
}
:global .txt_left {
  text-align: left !important;
}
:global .txt_right {
  text-align: right !important;
}
:global .txt_center {
  text-align: center !important;
}

:global .wauto {
  width: auto !important;
}
:global .w10pro {
  width: 10% !important;
}
:global .w15pro {
  width: 15% !important;
}
:global .w20pro {
  width: 20% !important;
}
:global .w25pro {
  width: 25% !important;
}
:global .w30pro {
  width: 30% !important;
}
:global .w35pro {
  width: 35% !important;
}
:global .w40pro {
  width: 40% !important;
}
:global .w45pro {
  width: 45% !important;
}
:global .w50pro {
  width: 50% !important;
}
:global .w55pro {
  width: 55% !important;
}
:global .w60pro {
  width: 60% !important;
}
:global .w65pro {
  width: 65% !important;
}
:global .w70pro {
  width: 70% !important;
}
:global .w75pro {
  width: 75% !important;
}
:global .w80pro {
  width: 80% !important;
}
:global .w85pro {
  width: 85% !important;
}
:global .w90pro {
  width: 90% !important;
}
:global .w95pro {
  width: 95% !important;
}
:global .wall {
  width: 100% !important;
}
:global .w0 {
  width: 0px !important;
}
:global .w5 {
  width: 5px !important;
}
:global .w10 {
  width: 10px !important;
}
:global .w15 {
  width: 15px !important;
}
:global .w20 {
  width: 20px !important;
}
:global .w25 {
  width: 25px !important;
}
:global .w30 {
  width: 30px !important;
}
:global .w35 {
  width: 35px !important;
}
:global .w40 {
  width: 40px !important;
}
:global .w45 {
  width: 45px !important;
}
:global .w50 {
  width: 50px !important;
}
:global .w55 {
  width: 55px !important;
}
:global .w60 {
  width: 60px !important;
}
:global .w65 {
  width: 65px !important;
}
:global .w70 {
  width: 70px !important;
}
:global .w75 {
  width: 75px !important;
}
:global .w80 {
  width: 80px !important;
}
:global .w85 {
  width: 85px !important;
}
:global .w90 {
  width: 90px !important;
}
:global .w95 {
  width: 95px !important;
}
:global .w100 {
  width: 100px !important;
}
:global .w105 {
  width: 105px !important;
}
:global .w110 {
  width: 110px !important;
}
:global .w115 {
  width: 115px !important;
}
:global .w120 {
  width: 120px !important;
}
:global .w125 {
  width: 125px !important;
}
:global .w130 {
  width: 130px !important;
}
:global .w135 {
  width: 135px !important;
}
:global .w140 {
  width: 140px !important;
}
:global .w145 {
  width: 145px !important;
}
:global .w150 {
  width: 150px !important;
}
:global .w155 {
  width: 155px !important;
}
:global .w160 {
  width: 160px !important;
}
:global .w165 {
  width: 165px !important;
}
:global .w170 {
  width: 170px !important;
}
:global .w175 {
  width: 175px !important;
}
:global .w180 {
  width: 180px !important;
}
:global .w185 {
  width: 185px !important;
}
:global .w190 {
  width: 190px !important;
}
:global .w195 {
  width: 195px !important;
}
:global .w200 {
  width: 200px !important;
}
:global .w205 {
  width: 205px !important;
}
:global .w210 {
  width: 210px !important;
}
:global .w215 {
  width: 215px !important;
}
:global .w220 {
  width: 220px !important;
}
:global .w225 {
  width: 225px !important;
}
:global .w230 {
  width: 230px !important;
}
:global .w235 {
  width: 235px !important;
}
:global .w240 {
  width: 240px !important;
}
:global .w245 {
  width: 245px !important;
}
:global .w250 {
  width: 250px !important;
}
:global .w255 {
  width: 255px !important;
}
:global .w260 {
  width: 260px !important;
}
:global .w265 {
  width: 265px !important;
}
:global .w270 {
  width: 270px !important;
}
:global .w275 {
  width: 275px !important;
}
:global .w280 {
  width: 280px !important;
}
:global .w285 {
  width: 285px !important;
}
:global .w290 {
  width: 290px !important;
}
:global .w295 {
  width: 295px !important;
}
:global .w300 {
  width: 300px !important;
}
:global .w305 {
  width: 305px !important;
}
:global .w310 {
  width: 310px !important;
}
:global .w315 {
  width: 315px !important;
}
:global .w320 {
  width: 320px !important;
}
:global .w325 {
  width: 325px !important;
}
:global .w330 {
  width: 330px !important;
}
:global .w335 {
  width: 335px !important;
}
:global .w340 {
  width: 340px !important;
}
:global .w345 {
  width: 345px !important;
}
:global .w350 {
  width: 350px !important;
}
:global .w355 {
  width: 355px !important;
}
:global .w360 {
  width: 360px !important;
}
:global .w365 {
  width: 365px !important;
}
:global .w370 {
  width: 370px !important;
}
:global .w375 {
  width: 375px !important;
}
:global .w380 {
  width: 380px !important;
}
:global .w385 {
  width: 385px !important;
}
:global .w390 {
  width: 390px !important;
}
:global .w395 {
  width: 395px !important;
}
:global .w400 {
  width: 400px !important;
}
:global .w405 {
  width: 405px !important;
}
:global .w410 {
  width: 410px !important;
}
:global .w415 {
  width: 415px !important;
}
:global .w420 {
  width: 420px !important;
}
:global .w425 {
  width: 425px !important;
}
:global .w430 {
  width: 430px !important;
}
:global .w435 {
  width: 435px !important;
}
:global .w440 {
  width: 440px !important;
}
:global .w445 {
  width: 445px !important;
}
:global .w450 {
  width: 450px !important;
}
:global .w455 {
  width: 455px !important;
}
:global .w460 {
  width: 460px !important;
}
:global .w465 {
  width: 465px !important;
}
:global .w470 {
  width: 470px !important;
}
:global .w475 {
  width: 475px !important;
}
:global .w480 {
  width: 480px !important;
}
:global .w485 {
  width: 485px !important;
}
:global .w490 {
  width: 490px !important;
}
:global .w495 {
  width: 495px !important;
}
:global .w500 {
  width: 500px !important;
}
:global .w505 {
  width: 505px !important;
}
:global .w510 {
  width: 510px !important;
}
:global .w515 {
  width: 515px !important;
}
:global .w520 {
  width: 520px !important;
}
:global .w525 {
  width: 525px !important;
}
:global .w530 {
  width: 530px !important;
}
:global .w535 {
  width: 535px !important;
}
:global .w540 {
  width: 540px !important;
}
:global .w545 {
  width: 545px !important;
}
:global .w550 {
  width: 550px !important;
}
:global .w555 {
  width: 555px !important;
}
:global .w560 {
  width: 560px !important;
}
:global .w565 {
  width: 565px !important;
}
:global .w570 {
  width: 570px !important;
}
:global .w575 {
  width: 575px !important;
}
:global .w580 {
  width: 580px !important;
}
:global .w585 {
  width: 585px !important;
}
:global .w590 {
  width: 590px !important;
}
:global .w595 {
  width: 595px !important;
}
:global .w600 {
  width: 600px !important;
}
:global .w605 {
  width: 605px !important;
}
:global .w610 {
  width: 610px !important;
}
:global .w615 {
  width: 615px !important;
}
:global .w620 {
  width: 620px !important;
}
:global .w625 {
  width: 625px !important;
}
:global .w630 {
  width: 630px !important;
}
:global .w635 {
  width: 635px !important;
}
:global .w640 {
  width: 640px !important;
}
:global .w645 {
  width: 645px !important;
}
:global .w650 {
  width: 650px !important;
}
:global .w655 {
  width: 655px !important;
}
:global .w660 {
  width: 660px !important;
}
:global .w665 {
  width: 665px !important;
}
:global .w670 {
  width: 670px !important;
}
:global .w675 {
  width: 675px !important;
}
:global .w680 {
  width: 680px !important;
}
:global .w685 {
  width: 685px !important;
}
:global .w690 {
  width: 690px !important;
}
:global .w695 {
  width: 695px !important;
}
:global .w700 {
  width: 700px !important;
}
:global .w705 {
  width: 705px !important;
}
:global .w710 {
  width: 710px !important;
}
:global .w715 {
  width: 715px !important;
}
:global .w720 {
  width: 720px !important;
}
:global .w725 {
  width: 725px !important;
}
:global .w730 {
  width: 730px !important;
}
:global .w735 {
  width: 735px !important;
}
:global .w740 {
  width: 740px !important;
}
:global .w745 {
  width: 745px !important;
}
:global .w750 {
  width: 750px !important;
}
:global .w755 {
  width: 755px !important;
}
:global .w760 {
  width: 760px !important;
}
:global .w765 {
  width: 765px !important;
}
:global .w770 {
  width: 770px !important;
}
:global .w775 {
  width: 775px !important;
}
:global .w780 {
  width: 780px !important;
}
:global .w785 {
  width: 785px !important;
}
:global .w790 {
  width: 790px !important;
}
:global .w795 {
  width: 795px !important;
}
:global .w800 {
  width: 800px !important;
}
:global .w805 {
  width: 805px !important;
}
:global .w810 {
  width: 810px !important;
}
:global .w815 {
  width: 815px !important;
}
:global .w820 {
  width: 820px !important;
}
:global .w825 {
  width: 825px !important;
}
:global .w830 {
  width: 830px !important;
}
:global .w835 {
  width: 835px !important;
}
:global .w840 {
  width: 840px !important;
}
:global .w845 {
  width: 845px !important;
}
:global .w850 {
  width: 850px !important;
}
:global .w855 {
  width: 855px !important;
}
:global .w860 {
  width: 860px !important;
}
:global .w865 {
  width: 865px !important;
}
:global .w870 {
  width: 870px !important;
}
:global .w875 {
  width: 875px !important;
}
:global .w880 {
  width: 880px !important;
}
:global .w885 {
  width: 885px !important;
}
:global .w890 {
  width: 890px !important;
}
:global .w895 {
  width: 895px !important;
}
:global .w900 {
  width: 900px !important;
}
:global .w905 {
  width: 905px !important;
}
:global .w910 {
  width: 910px !important;
}
:global .w915 {
  width: 915px !important;
}
:global .w920 {
  width: 920px !important;
}
:global .w925 {
  width: 925px !important;
}
:global .w930 {
  width: 930px !important;
}
:global .w935 {
  width: 935px !important;
}
:global .w940 {
  width: 940px !important;
}
:global .w945 {
  width: 945px !important;
}
:global .w950 {
  width: 950px !important;
}
:global .w955 {
  width: 955px !important;
}
:global .w960 {
  width: 960px !important;
}
:global .w965 {
  width: 965px !important;
}
:global .w970 {
  width: 970px !important;
}
:global .w975 {
  width: 975px !important;
}
:global .w980 {
  width: 980px !important;
}
:global .w985 {
  width: 985px !important;
}
:global .w990 {
  width: 990px !important;
}
:global .w995 {
  width: 995px !important;
}
:global .w1000 {
  width: 1000px !important;
}
:global .w2r {
  width: 2rem !important;
}
:global .w50r {
  width: 50rem !important;
}
:global .w60r {
  width: 60rem !important;
}
:global .w80r {
  width: 80rem !important;
}
:global .hauto {
  height: auto !important;
}
:global .h10pro {
  height: 10% !important;
}
:global .h20pro {
  height: 20% !important;
}
:global .h30pro {
  height: 30% !important;
}
:global .h40pro {
  height: 40% !important;
}
:global .h50pro {
  height: 50% !important;
}
:global .h60pro {
  height: 60% !important;
}
:global .h70pro {
  height: 70% !important;
}
:global .h80pro {
  height: 80% !important;
}
:global .h90pro {
  height: 90% !important;
}
:global .hall {
  height: 100% !important;
}
:global .h0 {
  width: 0px !important;
}
:global .h5 {
  height: 5px !important;
}
:global .h10 {
  height: 10px !important;
}
:global .h15 {
  height: 15px !important;
}
:global .h20 {
  height: 20px !important;
}
:global .h25 {
  height: 25px !important;
}
:global .h30 {
  height: 30px !important;
}
:global .h35 {
  height: 35px !important;
}
:global .h40 {
  height: 40px !important;
}
:global .h45 {
  height: 45px !important;
}
:global .h50 {
  height: 50px !important;
}
:global .h55 {
  height: 55px !important;
}
:global .h60 {
  height: 60px !important;
}
:global .h65 {
  height: 65px !important;
}
:global .h70 {
  height: 70px !important;
}
:global .h75 {
  height: 75px !important;
}
:global .h80 {
  height: 80px !important;
}
:global .h85 {
  height: 85px !important;
}
:global .h90 {
  height: 90px !important;
}
:global .h95 {
  height: 95px !important;
}
:global .h100 {
  height: 100px !important;
}
:global .h105 {
  height: 105px !important;
}
:global .h110 {
  height: 110px !important;
}
:global .h115 {
  height: 115px !important;
}
:global .h120 {
  height: 120px !important;
}
:global .h125 {
  height: 125px !important;
}
:global .h130 {
  height: 130px !important;
}
:global .h135 {
  height: 135px !important;
}
:global .h140 {
  height: 140px !important;
}
:global .h145 {
  height: 145px !important;
}
:global .h150 {
  height: 150px !important;
}
:global .h155 {
  height: 155px !important;
}
:global .h160 {
  height: 160px !important;
}
:global .h165 {
  height: 165px !important;
}
:global .h170 {
  height: 170px !important;
}
:global .h175 {
  height: 175px !important;
}
:global .h180 {
  height: 180px !important;
}
:global .h185 {
  height: 185px !important;
}
:global .h190 {
  height: 190px !important;
}
:global .h195 {
  height: 195px !important;
}
:global .h200 {
  height: 200px !important;
}
:global .h205 {
  height: 205px !important;
}
:global .h210 {
  height: 210px !important;
}
:global .h215 {
  height: 215px !important;
}
:global .h220 {
  height: 220px !important;
}
:global .h225 {
  height: 225px !important;
}
:global .h230 {
  height: 230px !important;
}
:global .h235 {
  height: 235px !important;
}
:global .h240 {
  height: 240px !important;
}
:global .h245 {
  height: 245px !important;
}
:global .h250 {
  height: 250px !important;
}
:global .h255 {
  height: 255px !important;
}
:global .h260 {
  height: 260px !important;
}
:global .h265 {
  height: 265px !important;
}
:global .h270 {
  height: 270px !important;
}
:global .h275 {
  height: 275px !important;
}
:global .h280 {
  height: 280px !important;
}
:global .h285 {
  height: 285px !important;
}
:global .h290 {
  height: 290px !important;
}
:global .h295 {
  height: 295px !important;
}
:global .h300 {
  height: 300px !important;
}
:global .h305 {
  height: 305px !important;
}
:global .h310 {
  height: 310px !important;
}
:global .h315 {
  height: 315px !important;
}
:global .h320 {
  height: 320px !important;
}
:global .h325 {
  height: 325px !important;
}
:global .h330 {
  height: 330px !important;
}
:global .h335 {
  height: 335px !important;
}
:global .h340 {
  height: 340px !important;
}
:global .h345 {
  height: 345px !important;
}
:global .h350 {
  height: 350px !important;
}
:global .h355 {
  height: 355px !important;
}
:global .h360 {
  height: 360px !important;
}
:global .h365 {
  height: 365px !important;
}
:global .h370 {
  height: 370px !important;
}
:global .h375 {
  height: 375px !important;
}
:global .h380 {
  height: 380px !important;
}
:global .h385 {
  height: 385px !important;
}
:global .h390 {
  height: 390px !important;
}
:global .h395 {
  height: 395px !important;
}
:global .h400 {
  height: 400px !important;
}
:global .h405 {
  height: 405px !important;
}
:global .h410 {
  height: 410px !important;
}
:global .h415 {
  height: 415px !important;
}
:global .h420 {
  height: 420px !important;
}
:global .h425 {
  height: 425px !important;
}
:global .h430 {
  height: 430px !important;
}
:global .h435 {
  height: 435px !important;
}
:global .h440 {
  height: 440px !important;
}
:global .h445 {
  height: 445px !important;
}
:global .h450 {
  height: 450px !important;
}
:global .h455 {
  height: 455px !important;
}
:global .h460 {
  height: 460px !important;
}
:global .h465 {
  height: 465px !important;
}
:global .h470 {
  height: 470px !important;
}
:global .h475 {
  height: 475px !important;
}
:global .h480 {
  height: 480px !important;
}
:global .h485 {
  height: 485px !important;
}
:global .h490 {
  height: 490px !important;
}
:global .h495 {
  height: 495px !important;
}
:global .h500 {
  height: 500px !important;
}
:global .h505 {
  height: 505px !important;
}
:global .h510 {
  height: 510px !important;
}
:global .h515 {
  height: 515px !important;
}
:global .h520 {
  height: 520px !important;
}
:global .h525 {
  height: 525px !important;
}
:global .h530 {
  height: 530px !important;
}
:global .h535 {
  height: 535px !important;
}
:global .h540 {
  height: 540px !important;
}
:global .h545 {
  height: 545px !important;
}
:global .h550 {
  height: 550px !important;
}
:global .h555 {
  height: 555px !important;
}
:global .h560 {
  height: 560px !important;
}
:global .h565 {
  height: 565px !important;
}
:global .h570 {
  height: 570px !important;
}
:global .h575 {
  height: 575px !important;
}
:global .h580 {
  height: 580px !important;
}
:global .h585 {
  height: 585px !important;
}
:global .h590 {
  height: 590px !important;
}
:global .h595 {
  height: 595px !important;
}
:global .h600 {
  height: 600px !important;
}
:global .h605 {
  height: 605px !important;
}
:global .h610 {
  height: 610px !important;
}
:global .h615 {
  height: 615px !important;
}
:global .h620 {
  height: 620px !important;
}
:global .h625 {
  height: 625px !important;
}
:global .h630 {
  height: 630px !important;
}
:global .h635 {
  height: 635px !important;
}
:global .h640 {
  height: 640px !important;
}
:global .h645 {
  height: 645px !important;
}
:global .h650 {
  height: 650px !important;
}
:global .h655 {
  height: 655px !important;
}
:global .h660 {
  height: 660px !important;
}
:global .h665 {
  height: 665px !important;
}
:global .h670 {
  height: 670px !important;
}
:global .h675 {
  height: 675px !important;
}
:global .h680 {
  height: 680px !important;
}
:global .h685 {
  height: 685px !important;
}
:global .h690 {
  height: 690px !important;
}
:global .h695 {
  height: 695px !important;
}
:global .h700 {
  height: 700px !important;
}
:global .h705 {
  height: 705px !important;
}
:global .h710 {
  height: 710px !important;
}
:global .h715 {
  height: 715px !important;
}
:global .h720 {
  height: 720px !important;
}
:global .h725 {
  height: 725px !important;
}
:global .h730 {
  height: 730px !important;
}
:global .h735 {
  height: 735px !important;
}
:global .h740 {
  height: 740px !important;
}
:global .h745 {
  height: 745px !important;
}
:global .h750 {
  height: 750px !important;
}
:global .h755 {
  height: 755px !important;
}
:global .h760 {
  height: 760px !important;
}
:global .h765 {
  height: 765px !important;
}
:global .h770 {
  height: 770px !important;
}
:global .h775 {
  height: 775px !important;
}
:global .h780 {
  height: 780px !important;
}
:global .h785 {
  height: 785px !important;
}
:global .h790 {
  height: 790px !important;
}
:global .h795 {
  height: 795px !important;
}
:global .h800 {
  height: 800px !important;
}
:global .h805 {
  height: 805px !important;
}
:global .h810 {
  height: 810px !important;
}
:global .h815 {
  height: 815px !important;
}
:global .h820 {
  height: 820px !important;
}
:global .h825 {
  height: 825px !important;
}
:global .h830 {
  height: 830px !important;
}
:global .h835 {
  height: 835px !important;
}
:global .h840 {
  height: 840px !important;
}
:global .h845 {
  height: 845px !important;
}
:global .h850 {
  height: 850px !important;
}
:global .h855 {
  height: 855px !important;
}
:global .h860 {
  height: 860px !important;
}
:global .h865 {
  height: 865px !important;
}
:global .h870 {
  height: 870px !important;
}
:global .h875 {
  height: 875px !important;
}
:global .h880 {
  height: 880px !important;
}
:global .h885 {
  height: 885px !important;
}
:global .h890 {
  height: 890px !important;
}
:global .h895 {
  height: 895px !important;
}
:global .h900 {
  height: 900px !important;
}
:global .h905 {
  height: 905px !important;
}
:global .h910 {
  height: 910px !important;
}
:global .h915 {
  height: 915px !important;
}
:global .h920 {
  height: 920px !important;
}
:global .h925 {
  height: 925px !important;
}
:global .h930 {
  height: 930px !important;
}
:global .h935 {
  height: 935px !important;
}
:global .h940 {
  height: 940px !important;
}
:global .h945 {
  height: 945px !important;
}
:global .h950 {
  height: 950px !important;
}
:global .h955 {
  height: 955px !important;
}
:global .h960 {
  height: 960px !important;
}
:global .h965 {
  height: 965px !important;
}
:global .h970 {
  height: 970px !important;
}
:global .h975 {
  height: 975px !important;
}
:global .h980 {
  height: 980px !important;
}
:global .h985 {
  height: 985px !important;
}
:global .h990 {
  height: 990px !important;
}

:global .ml0 {
  margin-left: 0 !important;
}
:global .ml5 {
  margin-left: 5px !important;
}
:global .ml10 {
  margin-left: 10px !important;
}
:global .ml15 {
  margin-left: 15px !important;
}
:global .ml20 {
  margin-left: 20px !important;
}
:global .ml25 {
  margin-left: 25px !important;
}
:global .ml30 {
  margin-left: 30px !important;
}
:global .ml35 {
  margin-left: 35px !important;
}
:global .ml40 {
  margin-left: 40px !important;
}
:global .ml45 {
  margin-left: 45px !important;
}
:global .ml50 {
  margin-left: 50px !important;
}
:global .ml55 {
  margin-left: 55px !important;
}
:global .ml60 {
  margin-left: 60px !important;
}
:global .ml65 {
  margin-left: 65px !important;
}
:global .ml70 {
  margin-left: 70px !important;
}
:global .ml75 {
  margin-left: 75px !important;
}
:global .ml80 {
  margin-left: 80px !important;
}
:global .ml85 {
  margin-left: 85px !important;
}
:global .ml90 {
  margin-left: 90px !important;
}
:global .ml95 {
  margin-left: 95px !important;
}
:global .ml100 {
  margin-left: 100px !important;
}
:global .mr0 {
  margin-right: 0 !important;
}
:global .mr5 {
  margin-right: 5px !important;
}
:global .mr10 {
  margin-right: 10px !important;
}
:global .mr15 {
  margin-right: 15px !important;
}
:global .mr20 {
  margin-right: 20px !important;
}
:global .mr25 {
  margin-right: 25px !important;
}
:global .mr30 {
  margin-right: 30px !important;
}
:global .mr35 {
  margin-right: 35px !important;
}
:global .mr40 {
  margin-right: 40px !important;
}
:global .mr45 {
  margin-right: 45px !important;
}
:global .mr50 {
  margin-right: 50px !important;
}
:global .mr55 {
  margin-right: 55px !important;
}
:global .mr60 {
  margin-right: 60px !important;
}
:global .mr65 {
  margin-right: 65px !important;
}
:global .mr70 {
  margin-right: 70px !important;
}
:global .mr75 {
  margin-right: 75px !important;
}
:global .mr80 {
  margin-right: 80px !important;
}
:global .mr85 {
  margin-right: 85px !important;
}
:global .mr90 {
  margin-right: 90px !important;
}
:global .mr95 {
  margin-right: 95px !important;
}
:global .mr100 {
  margin-right: 100px !important;
}
:global .mt0 {
  margin-top: 0 !important;
}
:global .mt2 {
  margin-top: 2px !important;
}
:global .mt5 {
  margin-top: 5px !important;
}
:global .mt10 {
  margin-top: 10px !important;
}
:global .mt15 {
  margin-top: 15px !important;
}
:global .mt20 {
  margin-top: 20px !important;
}
:global .mt25 {
  margin-top: 25px !important;
}
:global .mt30 {
  margin-top: 30px !important;
}
:global .mt35 {
  margin-top: 35px !important;
}
:global .mt40 {
  margin-top: 40px !important;
}
:global .mt45 {
  margin-top: 45px !important;
}
:global .mt50 {
  margin-top: 50px !important;
}
:global .mt55 {
  margin-top: 55px !important;
}
:global .mt60 {
  margin-top: 60px !important;
}
:global .mt65 {
  margin-top: 65px !important;
}
:global .mt70 {
  margin-top: 70px !important;
}
:global .mt75 {
  margin-top: 75px !important;
}
:global .mt80 {
  margin-top: 80px !important;
}
:global .mt85 {
  margin-top: 85px !important;
}
:global .mt90 {
  margin-top: 90px !important;
}
:global .mt95 {
  margin-top: 95px !important;
}
:global .mt100 {
  margin-top: 100px !important;
}
:global .ml1r {
  margin-top: 1rem;
}
:global .mb0 {
  margin-bottom: 0 !important;
}
:global .mb2 {
  margin-bottom: 2px !important;
}
:global .mb5 {
  margin-bottom: 5px !important;
}
:global .mb10 {
  margin-bottom: 10px !important;
}
:global .mb15 {
  margin-bottom: 15px !important;
}
:global .mb20 {
  margin-bottom: 20px !important;
}
:global .mb25 {
  margin-bottom: 25px !important;
}
:global .mb30 {
  margin-bottom: 30px !important;
}
:global .mb35 {
  margin-bottom: 35px !important;
}
:global .mb40 {
  margin-bottom: 40px !important;
}
:global .mb45 {
  margin-bottom: 45px !important;
}
:global .mb50 {
  margin-bottom: 50px !important;
}
:global .mb55 {
  margin-bottom: 55px !important;
}
:global .mb60 {
  margin-bottom: 60px !important;
}
:global .mb65 {
  margin-bottom: 65px !important;
}
:global .mb70 {
  margin-bottom: 70px !important;
}
:global .mb75 {
  margin-bottom: 75px !important;
}
:global .mb80 {
  margin-bottom: 80px !important;
}
:global .mb85 {
  margin-bottom: 85px !important;
}
:global .mb90 {
  margin-bottom: 90px !important;
}
:global .mb95 {
  margin-bottom: 95px !important;
}
:global .mb100 {
  margin-bottom: 100px !important;
}

:global .mb1r {
  margin-bottom: 1rem m !important;
}

:global .pl0 {
  padding-left: 0 !important;
}
:global .pl5 {
  padding-left: 5px !important;
}
:global .pl10 {
  padding-left: 10px !important;
}
:global .pl15 {
  padding-left: 15px !important;
}
:global .pl20 {
  padding-left: 20px !important;
}
:global .pl25 {
  padding-left: 25px !important;
}
:global .pl30 {
  padding-left: 30px !important;
}
:global .pl35 {
  padding-left: 35px !important;
}
:global .pl40 {
  padding-left: 40px !important;
}
:global .pl45 {
  padding-left: 45px !important;
}
:global .pl50 {
  padding-left: 50px !important;
}
:global .pl55 {
  padding-left: 55px !important;
}
:global .pl60 {
  padding-left: 60px !important;
}
:global .pl65 {
  padding-left: 65px !important;
}
:global .pl70 {
  padding-left: 70px !important;
}
:global .pl75 {
  padding-left: 75px !important;
}
:global .pl80 {
  padding-left: 80px !important;
}
:global .pl85 {
  padding-left: 85px !important;
}
:global .pl90 {
  padding-left: 90px !important;
}
:global .pl95 {
  padding-left: 95px !important;
}
:global .pl100 {
  padding-left: 100px !important;
}
:global .pr0 {
  padding-right: 0 !important;
}
:global .pr5 {
  padding-right: 5px !important;
}
:global .pr10 {
  padding-right: 10px !important;
}
:global .pr15 {
  padding-right: 15px !important;
}
:global .pr20 {
  padding-right: 20px !important;
}
:global .pr25 {
  padding-right: 25px !important;
}
:global .pr30 {
  padding-right: 30px !important;
}
:global .pr35 {
  padding-right: 35px !important;
}
:global .pr40 {
  padding-right: 40px !important;
}
:global .pr45 {
  padding-right: 45px !important;
}
:global .pr50 {
  padding-right: 50px !important;
}
:global .pr55 {
  padding-right: 55px !important;
}
:global .pr60 {
  padding-right: 60px !important;
}
:global .pr65 {
  padding-right: 65px !important;
}
:global .pr70 {
  padding-right: 70px !important;
}
:global .pr75 {
  padding-right: 75px !important;
}
:global .pr80 {
  padding-right: 80px !important;
}
:global .pr85 {
  padding-right: 85px !important;
}
:global .pr90 {
  padding-right: 90px !important;
}
:global .pr95 {
  padding-right: 95px !important;
}
:global .pr100 {
  padding-right: 100px !important;
}
:global .pt0 {
  padding-top: 0 !important;
}
:global .pt3 {
  padding-top: 3px !important;
}
:global .pt5 {
  padding-top: 5px !important;
}
:global .pt10 {
  padding-top: 10px !important;
}
:global .pt15 {
  padding-top: 15px !important;
}
:global .pt20 {
  padding-top: 20px !important;
}
:global .pt25 {
  padding-top: 25px !important;
}
:global .pt30 {
  padding-top: 30px !important;
}
:global .pt35 {
  padding-top: 35px !important;
}
:global .pt40 {
  padding-top: 40px !important;
}
:global .pt45 {
  padding-top: 45px !important;
}
:global .pt50 {
  padding-top: 50px !important;
}
:global .pt55 {
  padding-top: 55px !important;
}
:global .pt60 {
  padding-top: 60px !important;
}
:global .pt65 {
  padding-top: 65px !important;
}
:global .pt70 {
  padding-top: 70px !important;
}
:global .pt75 {
  padding-top: 75px !important;
}
:global .pt80 {
  padding-top: 80px !important;
}
:global .pt85 {
  padding-top: 85px !important;
}
:global .pt90 {
  padding-top: 90px !important;
}
:global .pt95 {
  padding-top: 95px !important;
}
:global .pt100 {
  padding-top: 100px !important;
}
:global .pb0 {
  padding-bottom: 0 !important;
}
:global .pb5 {
  padding-bottom: 5px !important;
}
:global .pb10 {
  padding-bottom: 10px !important;
}
:global .pb15 {
  padding-bottom: 15px !important;
}
:global .pb20 {
  padding-bottom: 20px !important;
}
:global .pb25 {
  padding-bottom: 25px !important;
}
:global .pb30 {
  padding-bottom: 30px !important;
}
:global .pb35 {
  padding-bottom: 35px !important;
}
:global .pb40 {
  padding-bottom: 40px !important;
}
:global .pb45 {
  padding-bottom: 45px !important;
}
:global .pb50 {
  padding-bottom: 50px !important;
}
:global .pb55 {
  padding-bottom: 55px !important;
}
:global .pb60 {
  padding-bottom: 60px !important;
}
:global .pb65 {
  padding-bottom: 65px !important;
}
:global .pb70 {
  padding-bottom: 70px !important;
}
:global .pb75 {
  padding-bottom: 75px !important;
}
:global .pb80 {
  padding-bottom: 80px !important;
}
:global .pb85 {
  padding-bottom: 85px !important;
}
:global .pb90 {
  padding-bottom: 90px !important;
}
:global .pb95 {
  padding-bottom: 95px !important;
}
:global .pb100 {
  padding-bottom: 100px !important;
}

.btn_basic {
  padding: 0.3rem 0.5rem;
  min-width: 5rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  border: 0.15rem solid #bbc0c6;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.9;
  border-radius: 0.3rem;
  background: #435b66;
}
.btn_basic:hover {
  opacity: 1;
  box-shadow: 0 0.3rem 1rem 0.2rem lightgray;
  cursor: pointer;
}
.btn_basic:active {
  box-shadow: none;
}
.btn_basic:disabled {
  opacity: 0.3;
  box-shadow: none;
  cursor: default;
  cursor: not-allowed;
}

.cancelBtn_basic {
  padding: 0.3rem 0.5rem;
  min-width: 5rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  border: 0.15rem solid #bbc0c6;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.9;
  border-radius: 0.3rem;
  background: #c92a2a;
}
.cancelBtn_basic:hover {
  opacity: 1;
  box-shadow: 0 0.3rem 1rem 0.2rem lightgray;
  cursor: pointer;
}
.cancelBtn_basic:active {
  box-shadow: none;
}
.cancelBtn_basic:disabled {
  opacity: 0.3;
  box-shadow: none;
  cursor: default;
  cursor: not-allowed;
}
